<!DOCTYPE html>
<!-- Bootstrap the angular app after the Google Java Script libraries are loaded. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Plus Schools</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-cosmo.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/aplus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/main.css') }}">
    <link rel="stylesheet" href="/static/bootstrap/css/offcanvas.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta property="og:title" content="A Plus Schools">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A Plus Schools web app that lets you browse PSSA data.">
    <meta property="og:image" content="/static/img/logo_aplus_lg.png>
    <meta property="og:site_name" content="A web app">

</head>
<body ng-app="aplusApp">
<!-- class="page-template-default page page-id-42 page-parent research-and-reports" -->
    <header>
        <div id="mobilebar">
            <ul>
                <li id="menutoggle">
                    <a href="#menu-main-navigation-1">Menu</a>
                </li>
                <li id="volunteerlogin">
                    <a href="https://aplusschools.secure.force.com/" target="_blank">Volunteer Sign-In</a>
                </li>
            </ul>
        </div>
        <div id="logo">
            <h1>
                <a href="/">A+ Schools - Pittsburgh&#039;s Community Alliance for Public Education</a>
            </h1>
        </div>
        <div class="clear">
        </div>
    </header>
<!-- Restore the credential from cookie if stored by calling initSignInButton() -->

    <nav>
        <div id="nav-wrapper">
            <div class="menu-header">
                <ul id="menu-main-navigation" class="menu">
                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59">
                        <a href="http://www.aplusschools.org/about-us/">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </nav>

    <div class="container">
        <div ng-controller="MainCtrl as main">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div ng-view></div>
<!--
        <div class="row">
            <div class="col-md-4">
                <div ng-include="'/static/partials/donut.html'" ng-controller="DoughnutCtrl" ng-init="getScores()"></div>
            </div>
        </div>
-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
    <script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <!--

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    
    <script src="/static/js/donut.js"></script>
    -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/datafactory.js"></script>

</body>
</html>
