<div>
    <button type="button" class="close" aria-label="Close" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>2017 {a pssa.school a} Grade {a pssa.grade a} {a pssa.subject a} - {a pssa.subset a}</h1>
    <div>
        <canvas id="{a fullid a}" class="chart chart-doughnut chart-xs" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors"></canvas>
    </div>
</div>
