<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div id="subpage-content">
            <h2>PA Test Score Explorer</h2>
            <h4>Review Pittsburgh PA test scores</h4>
            <p>Scores for both PSSA tests and Keystone exams are rated “Advanced” (above grade level), “Profcient” (at grade level), “Basic” (not consistently at grade level), or “Below Basic” (below grade level).</p>

            <p><strong>Here’s how you can explore Pittsburgh state test scores:</strong></p>
            <ul>
                <li dir="ltr"><a title="Browse State Test Scores" href="#/browse">
                    Browse state test scores
                </a></li>
                <li dir="ltr"><a title="Compare Two Schools" href="#/compare">
                    Compare Two Schools
                </a></li>
                <li dir="ltr"><a title="Sortable Lists" href="#/list">
                    Review Sortable List of Scores
                </a></li>
                <li dir="ltr"><a title="Third Grade Reading" href="#/reading">
                    Explore Third Grade Reading Goals
                </a></li>
                <p>More PA Test Score Explorer features will be added soon.</p> 
            </ul>
        </div>
    </div>
</div>


