<div class="row">
  <div class="col-lg-5">
    <form>
      <div class="form-group">
        <div ng-repeat="(nam, vals) in select">
          <label class="text-capitalize">{a nam a}:</label>
          <select ng-model="pssa[nam]" ng-change="getScores()">
            <option ng-repeat="i in vals[0]" ngValue="{{i}}">{a i a}</option>
          </select>
        </div>
      </div>
    </form>
    <div ng-if="pssa.year && pssa.school && pssa.grade && pssa.subject && pssa.subset">
      <div ng-include="'/static/partials/donut.html'" ng-init="getScores()"></div>
    </div>
  </div>
</div>